[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
